*.log
.DS_Store
node_modules/
_node_modules/
coverage/
dist/
transpiled/
.idea/
.vscode/
*.tgz
docs/
.run

# Yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-e2e/.env
/.env
