<mat-card class="code-viewer">
	<div class="code-viewer-header">
		<span (click)="showCode = !showCode" class="cursor-pointer">
			<button mat-icon-button
					matTooltip="{{showCode ? 'Hide' : 'Show'}} source"
					title="{{showCode ? 'Hide' : 'Show'}} source">
				<mat-icon>code</mat-icon>
			</button>
			&nbsp;<span>{{showCode ? "Source" : "Example"}}</span>
		</span>
	</div>
	<div class="code-viewer-pane">
		<div class="code-viewer-example"
			 [class.hide]="showCode">
			<ng-content select=".example"></ng-content>
		</div>
		<div [class.hide]="!showCode">
			<ng-content select="pre"></ng-content>
		</div>
	</div>
</mat-card>
