<ng-template #fakeRadioButton>
  <mat-icon> radio_button_unchecked</mat-icon>
</ng-template>
<mat-toolbar class="smp-header mat-elevation-z6"
             color="primary">
  <div>
    <img class="smp-ng-logo"
         src="assets/angular-white-transparent.svg"
         alt="" />
    <span class="smp-header-title">{{appName}}</span>
  </div>
  <div>
    <button mat-icon-button
            [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #themeMenu>
      <button mat-menu-item
              (click)="updateTheme(theme)"
              *ngFor="let theme of themes">
        <mat-icon color="accent"
                  *ngIf="selectedTheme.value === theme.value; else fakeRadioButton">radio_button_checked
        </mat-icon>
        {{theme.description}}
        <mat-icon class="smp-theme-example">
          <svg xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               width="100%"
               height="100%"
               viewBox="0 0 80 80"
               fit=""
               preserveAspectRatio="xMidYMid meet"
               focusable="false">
            <defs>
              <path d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                    id="a"></path>
              <path d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                    id="b"></path>
              <path d="M0 0h80v17.24H0V0z"
                    id="c"></path>
            </defs>
            <use xlink:href="#a"
                 [attr.fill]="theme.value ? '#444': '#fff'"
                 class="docs-theme-icon-background"></use>
            <use xlink:href="#b"
                 fill="#ff4081"
                 class="docs-theme-icon-button"></use>
            <use xlink:href="#c"
                 fill="#3f51b5"
                 class="docs-theme-icon-toolbar"></use>
          </svg>
        </mat-icon>
      </button>
    </mat-menu>
    <a mat-button
       class="smp-github-link-desktop"
       [href]="githubLink">
      <img src="assets/github-circle-white-transparent.svg"
           class="smp-github-logo"
           alt="" /> Github
    </a>
    <a mat-icon-button
       class="smp-github-link-mobile"
       [href]="githubLink">
      <img src="assets/github-circle-white-transparent.svg"
           class="smp-github-logo"
           alt="" />
    </a>
  </div>
</mat-toolbar>
<div class="smp-top">
  <h1 class="mat-h1 smp-main-title">
    {{appName}}
  </h1>
  <p>Typescript based Luxon. Works seamlessly in your Typescript / Angular apps!</p>
  <div class="smp-badges">
    <img src="https://img.shields.io/npm/v/ts-luxon.svg?style=flat-square"
         alt="" />
    <img src="https://img.shields.io/npm/dm/ts-luxon.svg?style=flat-square"
         alt="" />
    <img src="https://img.shields.io/badge/license-MIT-blue.svg?style=flat-square"
         alt="" />
    <img src="https://github.com/tonysamperi/ts-luxon/workflows/Docker%20tests/badge.svg?branch=master"
         alt="" />
    <img src="https://img.shields.io/bundlephobia/min/ts-luxon"
         alt="" />
  </div>
  <div class="smp-padding smp-d-flex smp-align-center smp-justify-center">
    <a mat-raised-button
       target="_blank"
       [href]="githubLink">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="css-1oabto8">
        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
      </svg>
      Star on Github
    </a>
    <a mat-raised-button
       target="_blank"
       class="smp-margin-left"
       [href]="unpkgLink">
      <svg aria-hidden="true"
           focusable="false"
           data-prefix="far"
           data-icon="download"
           role="img"
           width="24"
           height="24"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 576 512"
           class="svg-inline--fa fa-download fa-w-18 fa-3x">
        <path fill="currentColor"
              d="M528 288h-92.1l46.1-46.1c30.1-30.1 8.8-81.9-33.9-81.9h-64V48c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v112h-64c-42.6 0-64.2 51.7-33.9 81.9l46.1 46.1H48c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V336c0-26.5-21.5-48-48-48zm-400-80h112V48h96v160h112L288 368 128 208zm400 256H48V336h140.1l65.9 65.9c18.8 18.8 49.1 18.7 67.9 0l65.9-65.9H528v128zm-88-64c0-13.3 10.7-24 24-24s24 10.7 24 24-10.7 24-24 24-24-10.7-24-24z"
              class=""></path>
      </svg>
      Download umd
    </a>
  </div>
</div>
<div class="smp-generic-section">
  <h2 class="mat-h2">
    Install {{appName}}
  </h2>
  <div class="terminal">
    <ul>
      <li>npm i {{appName}}</li>
    </ul>
  </div>
</div>
<div class="smp-container">
  <form class="demo-form">
    <div *ngFor="let example of examples">
      <h2>{{example.title}}</h2>
      <p>{{example.subtitle}}</p>
      <lux-code-viewer>
        <div class="example smp-d-flex smp-align-center smp-flex-column">
          {{example.value}}
        </div>
        <pre class="language-javascript">
                    <code>
{{example.code}}
                    </code>
                </pre>
      </lux-code-viewer>
    </div>
  </form>
</div>
<div class="smp-generic-section">
  <svg fill="none"
       height="50"
       stroke="currentColor"
       stroke-linecap="round"
       stroke-linejoin="round"
       stroke-width="2"
       viewBox="0 0 24 24"
       width="50"
       xmlns="http://www.w3.org/2000/svg">
    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
  </svg>
  <h2 class="mat-h2">
    Free and open source
  </h2>
</div>
<div class="smp-generic-section">
  <svg fill="none"
       height="50"
       stroke="currentColor"
       stroke-linecap="round"
       stroke-linejoin="round"
       stroke-width="2"
       viewBox="0 0 24 24"
       width="50"
       xmlns="http://www.w3.org/2000/svg">
    <polyline points="9 18 15 12 9 6"></polyline>
  </svg>
  <h2 class="mat-h2">
    Ready to start?
  </h2>
  <p>Go to the <a class="mat-color-primary"
                  [href]="docsLink">docs</a>!</p>
</div>
<footer>
  <p>Created with ♥ by <a class="mat-color-accent"
                          href="https://tonysamperi.github.io"
                          target="_blank">Tony
                                          Samperi</a>
  </p>
  <p>© 2021 MIT License</p>
</footer>
